body {
    background-color: #eeeeee;
    padding: 20px;
    margin: 0;
    font-family:'Work Sans',sans-serif;
}

.header {
}

.textsize{
    font-size: 18px;
}

.bigicon {
    font-size: 28px;
}

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.header {
    background-color: #555555;
    padding: 0;
}

ul.header li a {
    color: #FFF;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    font-size: 16px;
}

ul.header li:first-child a{
}

.content {
    background-color: #FFF;
    padding: 20px;
}

.content h2 {
    padding: 0;
    margin: 0;
}

.content li {
    margin-bottom: 10px;
}

.active {
    background-color: #a6ee4f;
}

.smallerText {
    font-size: 60%;
}